{% extends 'base.html' %}

{% block head %}
<title>Matching site - Login</title>
<style>
    .content{height: 100%;}
</style>
{% endblock %}

{% block content %}
<div class="login row align-items-center justify-content-center">
    <div class="col col-md-6">
        <form method="post" class="card">
            <h2 class="display-4 mb-4">Login</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group text-right mb-0">
                <a class="button" href="{% url 'main_app:sign_up' %}"><div class="btn btn-secondary">Sign up</div></a>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}