/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700'); */

html, body{
    height: 100%;
}

body{
    background: #f2709c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    /* font-family: 'Roboto', sans-serif; */
}

a{
    color: white;
    font-weight: bold;
    border-radius: 0.25em;
    transition: all 0.1s;
    background: rgba(255,255,255,0.25);
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a.button{
    padding-right: 0em;
    padding-left: 0em;
}

a:hover{
    color: #2f2f2f;
    background: rgba(255,255,255,0.9);
    text-decoration: none;
}

.login{
    height: 100%;
}

.login{
    height: 100%;
}

.card{
    padding: 1em;
    color: #2f2f2f;
    box-shadow: 0px 0px 1em 0em rgba(0,0,0,0.5);
    border-radius: 0.5em;
    background: rgba(255,255,255,0.9);
}

.login .card{
    padding: 2em;
}

.helptext{
    font-size: 0.75em;
}

.errorlist{
    color: #ff2020;
    font-size: 0.75em;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.errorlist li::before{
    content: "\f057";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 0.5em;
}

.errorlist + p input{
    border-color: #ff2020;
}